/* entire page */
body {
  background-color: rgba(214, 233, 176, .5);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(31, 44, 4);
}

/* header area */
header {
  margin: 0px auto;
  width: 960px;
  background-color: rgb(214, 233, 176);
  height: 186px;
}

header > img {
  width: 150px;
  margin: 10px;
  float: left;
}

h1 {
  /* text-align: center; */
  padding: 30px;
  margin-left: 250px;
}

header > nav > ul > li {
  display: inline-block;
  width: 100px;
  text-align: center;

  /* mock button styling */
  background-color: rgb(164, 185, 122);
  border: 1px solid black;
  border-radius: 25px;
  margin: 5px;
  padding: 5px;
}

header > nav {
  float: right;
}

header > nav > ul > li > a {
  color: inherit;
}

/* main body area */

main {
  margin: 0px auto;
  width: 960px;
  background-color: rgb(214, 233, 176);
}

main > section {
  width: 940px;
  margin: 0px auto;
  text-align: center;
  padding: 10px;
}

.product-images {
  border: 2px solid rgb(31, 44, 4);
  margin: 20px 0px 20px 0px;
}

main > section > article {
  width: 300px;
  display: inline-block;
  border: 5px dotted olivedrab;
  background-color: rgba(164, 185, 122, .5);
  border-radius: 25px;
  margin-bottom: 5px;
}


/* resolves some default styling  */
figure {
  margin: 0px auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* footer area */
footer {
  align-content: center;
  
  margin: 0px auto;
  width: 960px;
  background-color: rgb(214, 233, 176);
}

footer > nav {
  width: 150px;
  display: inline-block;
  margin-left: 60px;
}

footer > nav > ul > li {
  width: 100px;
  padding: 5px;
  margin: 5px;
  text-align: center;
  background-color: rgb(164, 185, 122);
  border: 1px solid rgb(31, 44, 4);
  border-radius: 25px;
  list-style:  none;
  color: inherit;
}

footer > p{
  text-align: right;
}

